img{
  margin: 0px 0px 15px 15px;
  padding: 0px;
}

ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    width: 250px;

    background-color: #34495e;

}

ul li{
  position:relative;
}

li a {
    display: block;

    color:white;

    padding: 8px 16px;

    text-decoration: none;

    border:1px solid silver;
}

li a:hover {

    background-color: #f39c12;

    color: white;
}

li:hover ul{

display:block;
}

ul li ul{
  position:absolute;

  left:250px;

  top:0;
  
  display:none;
}

.save-form{
  padding: 0px;
  margin:auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0055a5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #99ca3c;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

body { margin:0; padding:0; }
 
.wrap {
    width:980px;

    margin:0 auto;
}
.header { 
    height:150px;

    margin-bottom:10px;

    /*background-color:#16a085*/;
}

.header_right { 

    margin-top:25px;
    width: 25%;
    float: right;
    /*background-color:#16a085*/;
}

.header_left { 
    
    margin-top:25px;
    width: 75%;
    float: left;
    /*background-color:#16a085*/;
}
.content {
    width:690px;

    height:590px;

    /*background-color:#16a085*/;

    float:right;
}
.sidebar {
    width:275px;

    /*height:590px;*/

    /*background-color:#16a085*/;

    float:left;
}
.footer {
    height:70px;

    margin-top:10px;

    /*background-color:#16a085*/;
}

.clear {
    clear:both;
}

.new_button{
  background-color: white; /* Green */
  border: 2px solid #0055a5; /* Green */;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float:right;
}

.new_button:hover {
  background-color: #0055a5; /* Green */
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
 .content, .sidebar{

    /*width: 100%;*/

    margin-top:10px;

}